:root{
    --pink: #e84398;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 4%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: gray;
    padding: 3rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}
.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: rgb(37, 25, 25);
    color: aliceblue;
    padding: .5rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    color: var(--pink);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 3rem 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 4rem;
    color: gray;
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--pink);
}
header .icons a{
    font-size: 2.5rem;
    color: gray;
    margin-left: 1rem;
}
header .icons a:hover{
    color: var(--pink);
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid white;
    display: none;
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding-top: 2rem;
    }
    .main{
        background-position: left;
    }
}
.main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(6.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}
.main .content{
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
}
.main .content span{
    font-size: 4rem;
    color: rgb(248, 6, 87);
    line-height: 2;
    padding-top: 20rem;
}
@media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1rem solid white;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checker ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid white;
        display: block;
    }
}